* {
    box-sizing: border-box;
}

@font-face {
    font-family: MyFont;
    src: local(微軟正黑體), url(fonts/fontawesome-webfont);
    font-weight: bold;
}

@media screen and (max-width:768px) {}

@media screen and (min-width:1025px) {}


/* 黑背景*/

body {
    background-color: black;
}


/* 大圖片*/

.jumbotron {
    width: 100%;
    height: 744px;
    background-image: url(img/p3.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.profile {
    padding-left: 30px;
    width: 35%;
    background-color: #033823;
    font-family: MyFont;
    color: white;
    float: left;
}


/* 大頭照*/

.author {
    width: 100px;
    border-radius: 120px;
}

.author2 {
    width: 100px;
    height: 100px;
    border-radius: 120px;
}

.author_name {
    font-family: MyFont;
    color: white;
    margin: 0px 120px;
}


/* 學習歷程*/

.right {
    float: left;
    background-color: white;
    height: 300px;
}

.left {
    float: left;
    background-color: white;
    height: 300px;
}
/*advanture story*/
 .container_profile{float:left;width:100%;}
 .col-md-4{margin:20px 10px;width:500px;color:#FFF;float:rignt;padding-right:200px; font-family: MyFont;background-size: 100%;}


 
 .btn:hover {
     background-color: #b7b7b7;
     color: black;
 }